@font-face {
    font-family: "UnnaBold";
    src: url("../fonts/Unna-Bold.otf");
}

@font-face {
    font-family: "UnnaMedium";
    src: url("../fonts/Unna-Medium.otf");
}

@font-face {
    font-family: "UnnaRegular";
    src: url("../fonts/Unna-Regular.otf");
}

section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: "UnnaBold";
    font-size: 3rem;
    margin-bottom: 1em;
}

h3 {
    font-family: "UnnaMedium";
    font-size: 1.5rem;
    text-align: center;
}

img {
    height: 100vh;
    flex: 1;
}

button {
    font-size: 1.5rem;
    font-family: "UnnaRegular";
    background-color: #5755c2;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    width: 20rem;
}

table {
    font-family: "UnnaMedium";
    font-size: 1.5rem;
    width: 100%;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    padding: 1.5rem;
}

td {
    text-align: center;
    padding: 1.5rem;
}

label {
    font-family: "UnnaRegular";
    font-size: 1.5rem;
}

.login-section {
    position: fixed;
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input {
    font-family: "UnnaRegular";
    font-size: 1.5rem;
    display: block;
    padding: 0.5em;
    height: 2em;
    width: 20rem;
    border-radius: 0.5em;
    border: none;
    background-color: #f6f6f6;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

.application-section {
    background-color: #efeefc;
    height: 100vh;
}

.main-content {
    padding: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-field {
    font-family: "UnnaRegular";
    font-size: 1.5rem;
    background-color: #f8f8ff;
    border: 0.1em solid white;
    border-radius: 1em;
    padding-left: 1em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1em;
    width: 70%;
    height: 4.5rem;
}

.text-field:focus {
    outline: white solid 0.1rem;
}

.containers-area {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 3rem;
}

.container {
    display: flex;
    flex: 0.3;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 5rem;
    width: 11%;
    padding: 4rem;
    margin: 1rem;
    border-radius: 1em;
}

.vertical-menu {
    flex: 0.3;
    flex-direction: column;
    padding-left: 2em;
    padding-top: 2em;
    background-color: white;
}

.row-text-with-icon {
    margin-bottom: 0.5rem;
}

.vertical-menu-icons {
    height: 1.5rem;
    width: 2rem;
}

.vertical-menu-icon-text {
    display: inline;
    font-size: 1.5rem;
}

.table-area {
    border-radius: 1em;
    width: 70%;
    background-color: #f8f8ff;

}
